.DS_Store
.gitignore
.idea
.npmignore
.travis.yml
TODO
benchmark/*
bin/*
coverage
coverage/*
docs/*
examples/
lib/benchmark/*
lib/examples/*
lib/src/*
lib/test/*
src/*
test/
tsconfig.json
typedocconfig.ts
tslint.json
