npm-debug.log

.DS_Store
.idea
.settings/
lib/test/*
lib/src/*
lib/examples/*
lib/benchmark/*
src/*
docs/*
coverage/*

typedocconfig.ts
*.log
*.heapsnapshot
*.sock
.coverrun
.coverdata
dump.rdb
xunit.xml

logs/*
reports/*
tmp/*

benchmark/
examples/
test/
.istanbul.yml
.travis.yml
tsconfig.json
Makefile
TODO
